{% extends 'base.html' %}
{% load static %}
{% block title %}주의사항{% endblock %}

{% block content %}
     <h1 class="display-4 fw-bold" >주의사항</h1>
     <br/>
      <br/><br/>
       <div style ='padding:10px' class="small text-uppercase fw-bold text-muted"> </div>
               
               <div style='padding-left: 20px; text-align:left;'  class="bg-light py-5 border-bottom">
                    <div style="padding-bottom: 30px;" class=" text-uppercase fw-bold" > 
                         <ul>[스트레칭의 주의사항]
                              <ol> 자신의 몸에 맞게 하는 것이 중요하다</ol>
                              <ol> 무리 시 부상의 위험성이 있으므로 통증을 느낀다면 멈춰야한다</ol>
                              <ol>매일 그리고 가능하면 자주 한다.</ol>
                              <ol>쉬운 동작부터 시작한다</ol>
                              <ol>신체 관절의 최대한 가동범위까지 실시한다</ol>
                              <ol>스트레칭을 실시하는 부위에 대해 집중한다</ol>
                              <ol>스트레칭 전 가벼운 체조 조깅 등의 가벼운 준비운동을 실시해 상해를 예방한다.</ol>
                              <ol>스트레칭 동작 시 적절한 호흡 및 속도를 실시한다</ol>
                              <ol>스트레칭 종목의 순서는 심장에서 먼 부위부터 시작한다.</ol>
                              <ol>다양한 근육군의 스트레칭을 실시한다</ol>
                              <ol>손상된 근육군의 스트레칭은 금지한다</ol>
                         </ul> 
                         <ul>[올바른 스트레칭 호흡법]
                             <li>정적 스트레칭 : 스트레칭 전 충분히 숨을 들이마시고, 신전 동작과 함께 천천히 숨을 내쉰다 정지 동작에서는 정상적인 호흡을 실시하도록 한다. </li>
                             <li>동적 스트레칭 : 스트레칭 동안 정상적이고, 리드미컬하게 호흡을 실시하도록 한다.</li>
                         </ul> 
                    </div>
              </div>
               <footer class="py-5 bg-dark">
                    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; chaechaeyeon 2023</p></div>
                </footer>  
               
     {% endblock %}