{% extends 'base.html' %}
{% load static %}
{% block title %}효과{% endblock %}

{% block content %}
     <h1 class="display-4 fw-bold" >효과</h1>
     <br/>
          <br/><br/>
       <div style ='padding:10px' class="small text-uppercase fw-bold text-muted"> </div>
               
               <div style='padding-left: 20px; text-align:left;'  class="bg-light py-5 border-bottom">
                    <div style="padding-bottom: 30px;" class=" text-uppercase fw-bold" > 
                         <ul>[스트레칭의 효과]
                              <div style="text-align:left;"> 
                              <ol>스트레스 해소</ol>
                              <ol>자세 교정 <img src = "{% static 'image\turtle.jpeg'%}" style="width:200px; height:200px;"></ol>
                              <ol>부상 예방</ol>
                              <ol>건강 해짐 <img src = "{% static 'image\health1.jpg'%}" style="width:200px; height:200px;">  </ol>
                              <ol>피로 회복</ol>
                              <ol>심신안정</ol>
                              </div>
                         </ul> 
                    </div>
                    
                    
                    
              </div>
               <footer class="py-5 bg-dark">
                    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; chaechaeyeon 2023</p></div>
                </footer>  
               
     {% endblock %}