{% extends 'base.html' %}
{% load static %}
{% block title %}뜻{% endblock %}

{% block content %}
     <h1 class="display-4 fw-bold" >ABOUT</h1>
     <br/>
     <br/><br/>
  <div style ='padding:10px' class="small text-uppercase fw-bold text-muted"> </div>
          
          <div style='padding-left: 20px; text-align:left;'  class="bg-light py-5 border-bottom">
               <div style="padding-bottom: 30px;" class=" text-uppercase fw-bold" > <p>[스트레칭의 개념]</p> 
                   <p style ="word-wrap: break-word;">스트레칭은 신체 부위의 근육이나, 건, 인대 등을 늘여주는(신전시키는) 운동으로서 경직된 근육이나, 불균형하게 발달된 근육, 그리고 신체 각 부위의 가동 범위를 향상시킴은 물론 상해예방을 위해서도 널리 이용되는 운동이다. </p>
                   <p style ="word-wrap: break-word;">스트레칭 운동은 시간과 장소에 구애받지 않고 누구나 쉽게 할 수 있으므로, 신체적, 심리적 이완을 위하여 매우 유용한 운동 방법이 될 수 있다. </p>
               </div>
               
               <div style="padding-bottom: 30px;" class=" text-uppercase fw-bold" > <p>[스트레칭의 종류]</p> 
                    <p style ="word-wrap: break-word;">유연성을 향상시킬 수 있는 스트레칭 방법은 대표적으로 정적 스트레칭(Staticstretching), 동적 스트레칭(Dynamic stretching), 수동적 스트레칭(Passive stretching)이 있다. </p>
                    <br/>
                    <p style ="word-wrap: break-word;">정적 스트레칭은 근육을 최대한 신전시킨 상태에서 정지하고, 일정한 시간 동안 자세를 유지하여 근육의 신장력을 향상시키는방법으로 본 운동전에 일반적으로 가장 널리 이용되는 방법 </p>
                    <p style ="word-wrap: break-word;">동적 스트레칭은 맨손 체조와 같이 마지막 자세를 유지하지 않고, 움직임의 속도를 이용하여 근육을 신전시키는 방법 </p>
                    <p style ="word-wrap: break-word;">수동적 스트레칭은 보조자에 함께 실시하는 방법으로 근육의 피로와 경직을 해소하고, 관절의 가동범위를 더욱 향상시키는데 효과적 </p>

               </div>

               
         </div>
          <footer class="py-5 bg-dark">
               <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; chaechaeyeon 2023</p></div>
           </footer>  
          
{% endblock %}