{% extends 'base.html' %}
{% load static %}
{% block title %}추천{% endblock %}

{% block content %}
     <h1 class="display-4 fw-bold" >STEADY</h1>
     <br/>
     <br/><br/>
     <div style ='padding:10px' class="small text-uppercase fw-bold text-muted">스트레칭 근본 추천 목록</div>
     
     <div style='text-align:center'  class="bg-light py-5 border-bottom">
        <article class="atc">
            <div class="stretchingVideo">
                <iframe width="800" height="500" src="https://www.youtube.com/embed/IRm3_Nu2PBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="stretchingVideo">
                <iframe width="800" height="500" src="https://www.youtube.com/embed/FMOISIlhLEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
        
            <div class="stretchingVideo">
                <iframe width="800" height="500" src="https://www.youtube.com/embed/UqNKsiNUrxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
                
                
            <div class="stretchingVideo">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/jSmlAkcSTaA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <div class="stretchingVideo">
            </div>  
            <div class="stretchingVideo">
            <iframe width="800" height="500" src="https://www.youtube.com/embed/hMmJ0XQ8i6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          
          </div>
            
        </article>
    </div>
     <footer class="py-5 bg-dark">
          <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; chaechaeyeon 2023</p></div>
      </footer>  
     
{% endblock %}